/** @format */
header{
  margin-top: 0px;
  /* border: solid black; */
  position: fixed;
  width: 1263px;
  background-color: white;
}
.header-nav-img {
  width: 80px;
  height: 80px;
  margin-left: 100px;
  border-radius: 100%;
}
nav > .container-fluid {
  /* border: solid black; */
  width: 700px;
  margin-left: 80px;
}
/* les listes de contact ne s´affiche pas */
.dropdown-menu {
  display: none;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding-left: 1%;
}
.navbar-nav {
  width: 600px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 50px;
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu a:hover {
  display: block;
}
.main-section1{
  background-color: #EFD8D8;
  width: 1263px;
  height: 500px;
  border: solid;
  border-color: white;
  
}
.main-section1-div{
  width: 550px;
  height: 100px;
  color: #303030;
  /* border: solid black; */
  text-align: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 325px;
  font-family: arial, sans-serif;

}
.main-section1-h1{
  /* border: solid black; */
  height: 120px;
  margin-top: 30px;
}
.section-h1-img1{
  width: 280px;
  height: 120px;
  border-radius: 110%;
  margin-left: 450px;
  margin-top: 140px;
}
.main-section1-h1-span{
  /* border: solid black; */
  color: aliceblue;
  margin-top: 130px;
  margin-left: 480px;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  position: static;
}








.main-section2 {
  align-self: center;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: solid black; */
  top: 400px;
  margin-left: 70px;
  width: 1100px;
  height: 4400px;
}
.main-section2 > div{
  width: 300px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h4{
  text-align: center;
  font-style: italic;
}

.main-section2-img{
  height: 300px;
}

.footer{
  background-color: #EFD8D8;
  width: 1263px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
}
.footer-div1{
  margin-left: 20px;
   /* border: solid black; */
}
.footer-div2{
  /* border: solid black; */
  width: 170px;
  height: 200px;
}
.footer-div3{
  /* border: solid black; */
  width: 230px;
  height: 200px;
}
.footer > div > h5{
  text-align: center;
}
.footer > div > a{
  text-decoration: none;
  color: black;
}
.footer-div1-img{
  /* border: solid black; */
  margin-left: 0px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
}
.footer-div1-p{
  text-align: left;
  font-weight: 400;
  font-size: medium;
  font-family: Georgia;
}
.footer-div2{
  text-align: center;
}
.footer-div4{
  /* border: solid black; */
  width: 220px;
  height: 200px;
}
.footer-div4 > a{
  /* border: solid black; */
  margin-left: 8px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-self: center;
  justify-content: space-between;
}

